body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}


.card-picture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

